{% import "quotes.twig" as quotes %}

{% set label = article.label %}

{% set splitLabel = label | split(" ") %}

{# Remove "AAP" from the label unless "AAP" is the only word #}
{% if splitLabel | length > 1 and splitLabel[0] | lower == 'aap' %}
    {% set label = splitLabel | slice(1, length) | join(" ") %}
{% endif %}


{% if (article.hasMedia == 'TRUE' or article.hasPreviewMedia == 'TRUE') and params.imageSuppress == false %}
    <figure class="c-cards-view--media {{params.figureClass}}">
        <picture>
            <source media="(max-width: 767px) and (min-width: 501px)" srcset="{{params.articleImgMedium}}">
            <source media="(max-width: 500px)" srcset="{{params.articleImgSmall}}">

            {% if params.lazyload == false %}
                <img width="{{params.imgWidth}}" height="{{params.imgHeight}}" class="img-fluid" src="{{params.articleImg}}">
            {% else %}  
            {# ADD LAZYLOAD  src="{{params.placeholder}}" #}
                <img width="{{params.imgWidth}}" height="{{params.imgHeight}}" class="img-fluid lazyload" src="{{params.articleImg}}" data-original="{{params.articleImg}}">
            {% endif %}
            <div class="video-icon"></div>

        </picture>
    </figure>
    <div class="social-icon"></div>

{% endif %}


<div class="c-cards-view__container">
    <div class="c-cards-view__info">

        <div class="c-cards-view__info--category">{{label}}</div>
        
        <h2 class="c-cards-view__info--heading js-card-heading {{params.figureClass}}">{{ params.articleTitle }}</h2>
        
        <p class="c-cards-view__info--description js-card-description">{{ quotes.smarten(article.excerpt | raw) }}</p>
    
        <div class="c-cards-view__additioanl-info">
            <div class="c-cards-view__additioanl-info--price">$950,000</div>
            <div class="c-cards-view__additioanl-info--features">
                <div class="c-cards-view__additioanl-info--features-list">
                    <span class="icon fa fa-bed"></span>
                    <span class="text">3</span>
                </div>
                <div class="c-cards-view__additioanl-info--features-list">
                    <span class="icon fa fa-bath"></span>
                    <span class="text">7</span>
                </div>
                <div class="c-cards-view__additioanl-info--features-list">
                    <span class="icon fa fa-car"></span>
                    <span class="text">2</span>
                </div>
            </div>
        </div>
    
        <div class="c-cards-view__author">
            <div class="c-cards-view__author--name">{{ article.createdBy['displayName'] }}</div>
            <div class="c-cards-view__author--time">{{params.publishDate}}</div>
        </div>
    </div>
</div>