{% import "partials/quotes.twig" as quotes %}
{{ set(this, 'title', article.title) }}
{{ this.registerLinkTag({rel:'amphtml', href:_AppHelper.getServerUrl(false)~'?amp=1'}) }}



{{this.registerJs("Acme.articleController = Acme.ArticleController();")}}
{# {{this.registerJs("Acme.galleryToggle = new Acme.GalleryToggle();")}} #}


{% set blogInfo = _Blog.getBlog() %}
{% set networkData = _Network.getNetworkData() %}

{% set showPaywall              = false %}

{% set ArticleContent = article.content %}

{% if   not _User.isAdminUser()     and
        paywallSection == true      and
        articleBlogData['showPaywall'] == true  %}
    
    {% set showPaywall = true %}
{% endif %}



{% if showPaywall == true %}
    {% set storySplit = ArticleContent | split('<p>')  %}
    {% set para2 = storySplit[2] | replace({'</p>': ''}) | slice(0, 190) ~ '</p>'  %}
    {% set ArticleContent = '<p>' ~ [storySplit[1], para2] | join('<p>') %}
    {% set paywall_content_style = "content-paywalled" %}
{% endif %}




{% set articleImg = false %}
{% set featured = false %}

{% if article.media|length > 0 %}
    {% set articleImg = _Media.getMediaUrl(article.media[0],1094, 515, {'crop': 'fill', 'gravity': 'faces'} ) %}

    {% set featured = article.media[0].type %}
{% endif %}


{% set publishDate = _AppHelper.getDefaultTimezoneDateTime(article.publishDate, 'F, Y') %}

{% set relatedArticles = _Article.getPopularArticles({ blogId: article.blog.id, limit: 3, excludeArticleIds : [article.id], interval: 168 }) %}
{% set recentArticles = _Article.getRecentArticles({ limit: 5, excludeArticleIds : [article.id] }) %}

{% set testCount = 0 %}



<main id="main" class="o-body-container o-body-container-md" role="main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">

                <div class="c-article c-article-sm ">

                    <div class="o-media js-media o-media-sm">
                        <figure class="o-media--item">
                            <div class="o-media--item--galllery">
                                <img src="https://res.cloudinary.com/cognitives/image/upload/c_fill,dpr_auto,f_auto,fl_lossy,h_845,q_auto,w_1500/l64zmptftjfcytzrhjtd" class="img-fluid o-media--image" alt="Article Info">
                                <div class="video-icon"></div>
                            </div>
                            <div class="o-media--caption">
                                Captionipidus imillenda perferum quas simoluptur? Nam etus aut laborate ventior am ad
                                qui sam excorate ventior am ad qui sam exceped minum quis erumque parum, si
                                cusandameped minum eudigill excorao riasit eum nectat.
                            </div>
                        </figure>
                    </div>



                    <div class="c-article__main">
                        <div class="c-article__head">
                            <div class="c-article__head--category">
                                {{article.label}}
                            </div>
                            <div class="c-article__head--title">
                                {{ quotes.smarten(article.title) }}
                            </div>
                            <div class="c-article__head--posted-on">
                                <span class="c-article--date">{{article.publishedDate}}</span>
                                <span class="c-article--time">Updated 2 hrs ago</span>
                            </div>
                            <div class="c-article__head--posted-by">
                                <div class="c-article--avtar" style="background-image: url({{ profileImg }});">
                                    <!--User Image Embded -->
                                </div>
                                <div class="c-article--author">
                                    <a href=""{{_AppHelper.getUserProfileUrl(article.createdBy['username'])}}/posts"">{{ article.createdBy['displayName'] }}</a>
                                </div>
                            </div>
                        </div>

                        <div class="c-article__container c-article__container-sm">
                                {{ ArticleContent | _resizeImages({'width': 600}) | raw }}
                        </div>



                        {% if showPaywall == true %}
                            <div class="c-article--paywalled-view">
                                <div class="o-paywalled">
                                    <div class="o-paywalled__head">
                                        To read the full story on Regional News
                                    </div>
                                    <div class="o-paywalled__action">
                                        <a href="javascript:;" class="c-button c-button-rounded c-button--blue">Subscribe Now</a>
                                        <a href="javascript:;" class="c-button c-button-rounded c-button--blue-bordered">Start Free Trail</a>
                                    </div>
                                    <div class="o-paywalled__period">
                                        Subscribe now to start a free trial of Regional News for 28 days
                                        <a href="javascript:;">View our subscription options</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
                <!-- End Article Page -->
            </div>
            <div class="col-12 col-lg-4">
                <div class="o-body-container--right-layout">
                    <figure>
                        <img src="https://images.unsplash.com/photo-1495107334309-fcf20504a5ab?ixlib=rb-1.2.1&w=1000&q=80" class="img-fluid" alt="dummy image">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</main><!--site-main-->
