{% set networkData = _Network.getNetworkData() %}
{% set plans 		= networkData['paywallPlans'] %}
{% set blogData		= _Blog.getBlog() %}
{% set blogName      = blogData.title %}

{# separate plans by currency #}
{# {% for plan in plans %}
	{% if plan.currency | lower == 'usd' and 'School' not in plan.name %}
		{% set usd = usd|merge([plan]) %}
	{% endif %}
	{% if plan.currency | lower == 'aud' and 'School' not in plan.name %}
		{% set aus = aus|merge([plan]) %}
	{% endif %}
	{% if plan.currency | lower == 'gbp' and 'School' not in plan.name %}
		{% set gbp = gbp|merge([plan]) %}
	{% endif %}
{% endfor %} #}


{# {% set ui_plans = aus | slice(0,4) %} #}






{{this.registerJs("var signin = new Acme.Signin('signinForm', '#signin');")}}
{{this.registerJs("var signup = new Acme.Signup();")}}
 

<main id="main" class="site-main" role="main">
	<div class="o-media-hero relative">
			<figure class="o-media-slider">
					<picture class="image-cover">
							<!--[if IE 9]><video style="display:none;"><![endif]-->
							<source 
									media="(max-width:767px)"
									sizes="100vw"
									srcset="{{networkData.templatePath}}/static/images/banner/slide_02_Mobile.jpg 2x" />
							<source 
									media="(min-width:768px)"
									sizes="33.3vw"
									srcset="{{networkData.templatePath}}/static/images/banner/slide_02.jpg 1x" />
							<!--[if IE 9]></video><![endif]-->
							<img class="image-cover" sizes="(min-width:601px) 33vw, 100vw" srcset="{{networkData.templatePath}}/static/images/banner/slide_02_Mobile.jpg 767w, {{networkData.templatePath}}/static/images/banner/slide_02.jpg 1200w" alt="Banner Image" />
					</picture>
					<div class="o-media-hero_overlay">
							<div class="o-media-hero_caption">
									<div class="o-media-hero_caption_balance">
											<div class="container">
													<div class="o-media-hero_caption_wrapper">
															<h2 class="o-media-hero_text text">Subscribe now to<br class="hidden-xs">News Regional Victoria</h2>
															<p>Spendisse ultrices pharetra id at nullar onec ginibus ultrices nasieo nesr meiair naeos 99c a day</p>
															<div class="o-media-hero_button-set">
																	<a class="c-button c-button-rounded c-button--blue" href="#">Subscribe now</a> <a class="c-button c-button-rounded c-button--blue-bordered" href="#">Start free trial</a>
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>
			</figure>
	</div>
	<!-- //End Hero Banner -->

	<div class="clearfix"></div>
	<div class="o-body-container o-body-container-md">
			<div class="container">
					<div class="row">
							<div class="col-9">
									<div class="c-payhead c-payhead-md">
											<div class="c-payhead-left c-payhead-left-md">
													<h3 class="c-payhead__head"><a href="#">Donec ginibus an naset</a> trices nasieo me naehs res ir loremia seriol perlionek</h3>
													<p class="c-payhead__text">Spendisse ultrices pharetra id at nullar onec ginibus ultrices nasieo nesr meiair naeos trices pharetra id at nullar onec ginibus ultrices nasieo nesr meiair naeos trices pharetra id at nullar onec ginibus.</p>
											</div>
											<div class="c-payhead-right c-payhead-right-md">
													<picture class="c-payhead--Device c-payhead--Device-md"><img src="{{networkData.templatePath}}/static/images/device.png" srcset="{{networkData.templatePath}}/static/images/device.png 1x, {{networkData.templatePath}}/static/images/device@2x.png 2x, {{networkData.templatePath}}/static/images/device@3x.png 3x" class="img-fluid"></picture>
											</div>
									</div>
							</div>
					</div>
					
					<div class="row">
							<div class="col-9">
									
									<div class="c-paysub">
											
											<div class="c-paysub__head">Choose a subscription: </div>
											
											<div class="c-paysub__cards row">
													<div class="col">
														<div class="card-plan-desktop card-plan-tablet card-plan-mobile">
																<label for="Household" class="">
																		<span class="label-name">Household</span><br />
																		<span class="label-users">2 users</span>
																		<h3 class="lable-price">$29 p/m</h3>
																</label>
																<div class="c-plans__button-group">
																		<a href="#" class="c-button c-button--center c-button-rounded c-button--blue">Subscribe now</a>
																		<a href="#" class="c-button c-button--center c-button-rounded c-button--blue-bordered">Start 14-day free trial</a>
																</div>
														</div>
													</div>
													<div class="col">
														<div class="card-plan-desktop card-plan-tablet card-plan-mobile">
																<label for="Business" class="">
																		<span class="label-name">Business</span><br />
																		<span class="label-users">20 users</span>
																		<h3 class="lable-price">$199 p/m</h3>
																</label>
																<div class="c-plans__button-group">
																		<a href="#" class="c-button c-button--center c-button-rounded c-button--blue">Subscribe now</a>
																		<a href="#" class="c-button c-button--center c-button-rounded c-button--blue-bordered">Start 14-day free trial</a>
																</div>
														</div>
													</div>
											</div>
											
									</div>
									
							</div>
					</div>
			</div>
	</div>

</main>



