{% set headermenu = _Menu.get({'menuType': 'header'}) %}
{% set site       = networkData.title | lower | split(" ")[0]%}



<header class="c-header">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="c-header__top-bar c-header__top-bar-xs">
                    <a href="javascript:;">Advertise</a>
                    <a href="javascript:;">Contact</a>
                    <a href="javascript:;">FAQs</a>
                </div>
                <div class="c-header__weather-info c-header__weather-info-xs j-weather-panel">
                </div>
                <div class="c-header__login-info c-header__login-info-xs">

                {% if not _User.isGuest() %}
                    {% set user = _User.getUser() %}

                    <a href="{{_AppHelper.getLogoffUrl()}}" class="c-button c-button-rounded c-button--blue-bordered">Log out</a>
                    {# <a href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="header-signin__account u-float-right">My Account</a> #}
                    {# <a href="{{networkData.defaultBlogUrl}}/user/edit-profile" class="header-signin__account u-float-right visible-sm-block">Hi, {{user.firstname}}</a> #}
                {% else %}
                    <a id="signinBtn" href="javascript:;" class="c-button c-button-rounded c-button--blue-bordered">Log in</a>
                    <a href="{{networkData.defaultBlogUrl}}/@pro" class="c-button c-button-rounded c-button--blue">Subscribe</a>
                {% endif %}


                </div>
                <div class="c-header__main-info c-header__main-info-xs">
                    <a href="{{networkData.defaultBlogUrl}}" class="c-header__main-info--logo">
                        <img src="{{networkData.templatePath}}/static/images/logo.svg" class="image-fluid" />
                    </a>
                    <div class="c-navigation c-navigation-md">
                        <ul class="c-navigation--list">

                            {% for parentItem in headermenu %}
                                {% set activeClass = (parentItem.link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                                {% set externalClass = (parentItem.isExternal) ? 'external-link' : '' %}
                                {% set children = parentItem.children is defined and parentItem.children | length > 0  %}

                                <li class="dropdown">
                                    <a href="{{parentItem.link | raw}}"
                                        {% if parentItem.target != "" %} 
                                            target="{{parentItem.target}}"
                                        {% endif %} 
                                    >
                                        {% if parentItem.label != "" %}
                                            {{parentItem.label}}
                                        {% elseif parentItem.blogTitle != "" %}
                                            {{parentItem.blogTitle}}
                                        {% elseif parentItem.pageTitle != "" %}
                                            {{parentItem.pageTitle}}
                                        {% endif %}

                                    </a>
                                

                                    {% if children %}
                                        <ul class="custom-menu">
                                            <li>
                                                <a href="javascript:;">Menu 1</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Menu 2</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">Menu 3</a>
                                            </li>
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}

                        </ul>
                        <div class="c-navigation__icons">
                            <div class="c-navigation__icons--search fa fa-search js-searchButton"></div>
                            <div class="c-navigation__icons--navicon fa fa-navicon js-menu"></div>
                        </div>
                        <div class="c-navigation__search c-navigation__search-xs">
                            <div class="c-navigation__search--icon fa fa-search"></div>
                            <input type="text" placeholder="Seach"/>
                            <div class="c-navigation__search--icon icon-close fa fa-times js-searchClose"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="responsive-standalone">
    <ul class="standalone-menu"></ul>
    <div class="responsive-standalone-close"><span class="fa fa-times"></span></div>
</div>
<div class="responsive-standalone-overlay"></div>